body {
  margin: 0;
  background: #020202;
  cursor: crosshair;
  font-family: 'Black And White Picture', sans-serif;
}
canvas {
  display: block;
}
h1 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: 'Black And White Picture', sans-serif;
  font-size: 4em;
  font-weight:200;
  -webkit-user-select: none;
  user-select: none;
}
img {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  -webkit-user-select: none;
  user-select: none;
}
h2 {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: 'Black And White Picture', sans-serif;
  font-size: 4.5em;
  font-weight:200;
  -webkit-user-select: none;
  user-select: none;
}
h3 {
  position: absolute;
  top: 80%;
  left:50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: 'Black And White Picture', sans-serif;
  font-size: 3em;
  font-weight:200;
  -webkit-user-select: none;
  user-select: none;
}
